@font-face {
    font-family: Vazirmatn  ;
    src: url(project1/fonts/vazirmatn/webfonts/Vazirmatn-Thin.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    
}





@tailwind base;
@tailwind components;
@tailwind utilities;