link-item2:nth-child(1):nth-child(1) > a{
    color: red ;
    text-shadow: 0 0 5px  ;
    font-family: cursive;
}


.link-item:nth-child(1) > a{
    color: rgb(107, 1, 1) ;
    text-shadow: 0 0 5px  ;
    font-family: cursive;
}




